[Desktop Entry]
ServiceTypes=text/x-patch
#uncomment when Exec is implemented
#Actions=Apply
X-KDE-Priority=TopLevel

[Desktop Action Apply]
Name=Apply Patch...
Name[ast]=Aplicar parche...
Name[bg]=Прилагане на кръпка...
Name[bs]=Primijeni zakrpu...
Name[ca]=Aplica pedaç...
Name[ca@valencia]=Aplica pedaç...
Name[cs]=Aplikovat záplatu...
Name[da]=Anvend rettelse...
Name[de]=Patch einspielen ...
Name[el]=Εφαρμογή επιδιόρθωσης...
Name[en_GB]=Apply Patch...
Name[eo]=Apliki Flikon...
Name[es]=Aplicar parche...
Name[et]=Paiga rakendamine...
Name[eu]=Aplikatu adabakia...
Name[fa]=اعمال کژنه...
Name[fi]=Toteuta korjaus...
Name[fr]=Appliquer le correctif...
Name[ga]=Cuir Paiste i bhFeidhm...
Name[gl]=Aplicar un parche...
Name[he]=החל את הטלאי...
Name[hu]=Folt alkalmazása...
Name[is]=Virkja plástur...
Name[it]=Applica correzione...
Name[ja]=パッチを適用...
Name[kk]=Жамауды қолдану...
Name[km]=អនុវត្ត​បំណះ...​
Name[ko]=패치 적용하기...
Name[lt]=Pritaikyti pataisymą...
Name[lv]=Pielietot ielāpu...
Name[nb]=Bruk lapp …
Name[nds]=Kodeplaster inspelen...
Name[ne]=प्याच लागू गर्नुहोस्...
Name[nl]=Patch toepassen...
Name[nn]=Bruk endingsfil …
Name[pa]=ਪੈਂਚ ਲਾਗੂ...
Name[pl]=Nałóż łatę...
Name[pt]=Aplicar um 'Patch'...
Name[pt_BR]=Aplicar um 'patch'...
Name[ro]=Aplicare petec...
Name[ru]=Применить заплатку...
Name[sk]=Aplikovať záplatu...
Name[sl]=Uveljavi popravek ...
Name[sq]=Apliko Korrigjimin...
Name[sr]=Примени закрпу...
Name[sr@ijekavian]=Примијени закрпу...
Name[sr@ijekavianlatin]=Primijeni zakrpu...
Name[sr@latin]=Primeni zakrpu...
Name[sv]=Utför programfix...
Name[tr]=Yama Uygula...
Name[uk]=Застосувати латку...
Name[x-test]=xxApply Patch...xx
Name[zh_CN]=应用补丁...
Name[zh_TW]=套用修補...
Icon=dialog-apply
Exec=
Comment=Apply the patch to another folder/file
Comment[ast]=Aplicar el parche a otra carpeta o ficheru
Comment[bg]=Прилагане на кръпка към друга директория или файл
Comment[bs]=Primijeni zakrpu na drugi direktorij/datoteku
Comment[ca]=Aplica el pedaç a una altra carpeta o fitxer
Comment[ca@valencia]=Aplica el pedaç a una altra carpeta o fitxer
Comment[cs]=Aplikovat záplatu na jiný soubor/složku
Comment[da]=Anvend rettelsen på en anden mappe/fil
Comment[de]=Spielt den Patch in einen/eine andere(n) Ordner/Datei ein
Comment[el]=Εφαρμογή της επιδιόρθωσης σε άλλο φάκελο/αρχείο
Comment[en_GB]=Apply the patch to another folder/file
Comment[es]=Aplicar el parche a otra carpeta o archivo
Comment[et]=Paiga rakendamine teisele kataloogile/failile
Comment[eu]=Aplikatu adabakia beste karpeta/fitxategi bati
Comment[fa]=اعمال کژنه به پوشه/پرونده دیگر
Comment[fi]=Toteuta korjaus toiseen kansioon/tiedostoon
Comment[fr]=Applique le correctif à un autre dossier/fichier
Comment[ga]=Cuir an paiste i bhfeidhm ar fhillteán/chomhad eile
Comment[gl]=Aplicar o parche noutro cartafol/ficheiro
Comment[hu]=A folt alkalmazása másik könyvtárra vagy fájlra
Comment[is]=Virkja plásturinn á aðra möppu/skrá
Comment[it]=Applica la correzione a un'altra cartella o file
Comment[ja]=他のフォルダやファイルへパッチを適用します。
Comment[kk]=Басқа қапшық/файлға жамауды қолдану
Comment[km]=អនុវត្ត​បំណះ​ទៅ​ឯកសារ/ថត​មួយ​ផ្សេង​ទៀត
Comment[ko]=다른 폴더나 파일에 패치 적용하기
Comment[lt]=Pritaikyti pataisymą kitam aplankui/failui
Comment[lv]=Pielietot ielāpu citam failam/mapei
Comment[nb]=Bruk lappen på en annen mappe/fil
Comment[nds]=Kodeplaster op en anner Orner/Datei anwennen
Comment[ne]=अन्य फोल्डर/फाइलमा प्याच लागू गर्नुहोस्
Comment[nl]=Patch toepassen op een andere map of een ander bestand
Comment[nn]=Bruk endringsfila på ei anna mappe/fil
Comment[pa]=ਹੋਰ ਫੋਲਡਰ/ਫਾਇਲ ਲਈ ਪੈਂਚ ਲਾਗੂ
Comment[pl]=Nałożenie łaty na inny plik/katalog
Comment[pt]=Aplicar o 'patch' (actualização) noutra pasta/ficheiro
Comment[pt_BR]=Aplicar o 'patch' (atualização) em outra pasta/arquivo
Comment[ro]=Aplică petecul la alt fișier/dosar
Comment[ru]=Применить заплатку к другой папке или файлу
Comment[sk]=Aplikovať záplatu na iný priečinok/súbor
Comment[sl]=Uveljavi popravek za drugo mapo/datoteko
Comment[sr]=Примени закрпу на другу фасциклу или фајл
Comment[sr@ijekavian]=Примени закрпу на другу фасциклу или фајл
Comment[sr@ijekavianlatin]=Primeni zakrpu na drugu fasciklu ili fajl
Comment[sr@latin]=Primeni zakrpu na drugu fasciklu ili fajl
Comment[sv]=Utför en programfix för en annan katalog eller fil
Comment[tr]=Yamayı diğer klasöre/dosyaya uygula
Comment[uk]=Застосувати латку до іншої теки файла
Comment[x-test]=xxApply the patch to another folder/filexx
Comment[zh_CN]=将补丁应用到其它文件夹/文件
Comment[zh_TW]=套用修補到另一個資料夾/檔案

