[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,all/all
Type=Service
X-KDE-Priority=TopLevel

X-KDE-GetActionMenu=org.kde.kded /modules/ksvnd org.kde.ksvnd getTopLevelActionMenu

Actions=Update;Commit;

[Desktop Action Update]
Name=SVN Update
Name[ast]=Anovar SVN
Name[bg]=Обновяване на SVN
Name[bs]=SVN Ažuriranje
Name[ca]=Actualitza SVN
Name[ca@valencia]=Actualitza SVN
Name[cs]=SVN update
Name[da]=SVN Opdatér
Name[de]=Aktualisieren (SVN)
Name[el]=Ενημέρωση SVN
Name[en_GB]=SVN Update
Name[es]=Actualizar SVN
Name[et]=SVN uuendamine
Name[eu]=SVN eguneratu
Name[fa]=به‌روزرسانی  SVN
Name[fi]=SVN-päivitys (Update)
Name[fr]=Mise à jour SVN
Name[ga]=SVN Nuashonrú
Name[gl]=Actualización SVN
Name[he]=עדכון SVN
Name[hu]=SVN frissítés
Name[is]=Uppfæra SVN
Name[it]=Aggiornamento SVN
Name[ja]=SVN アップデート
Name[kk]=SVN жаңарту
Name[km]=SVN Update
Name[ko]=SVN 업데이트
Name[lt]=SVN atnaujinti
Name[lv]=Atjaunināt no SVN
Name[nb]=SVN oppdater
Name[nds]=SVN-Archiv opfrischen
Name[ne]=एसभीएन अद्यावधिक
Name[nl]=SVN bijwerken
Name[nn]=SVN oppdater
Name[pa]=SVN ਅੱਪਡੇਟ
Name[pl]=Uaktualnij
Name[pt]=Actualização do SVN
Name[pt_BR]=Atualização do SVN
Name[ro]=Actualizare SVN
Name[ru]=Обновить
Name[sk]=SVN aktualizácia
Name[sl]=Posodobitev SVN
Name[sr]=СВН ажурирање
Name[sr@ijekavian]=СВН ажурирање
Name[sr@ijekavianlatin]=SVN ažuriranje
Name[sr@latin]=SVN ažuriranje
Name[sv]=SVN-uppdatera
Name[tr]=SVN Güncelle
Name[ug]=SVN يېڭىلاش
Name[uk]=SVN-оновлення
Name[wa]=Metaedje a djoû SVN
Name[x-test]=xxSVN Updatexx
Name[zh_CN]=SVN 更新
Name[zh_TW]=SVN 更新
Icon=edit-redo
Exec=kio_svn_helper -u %U

[Desktop Action Commit]
Name=SVN Commit
Name[ast]=Entrega SVN
Name[bg]=Изпращане в SVN
Name[bs]=SVN Potvrda
Name[ca]=Entrega SVN
Name[ca@valencia]=Entrega SVN
Name[cs]=SVN commit
Name[da]=SVN Commit
Name[de]=Einspielen (SVN)
Name[el]=Υποβολή SVN
Name[en_GB]=SVN Commit
Name[es]=Entrega SVN
Name[et]=SVN sissekanne
Name[eu]=SVN entregatu
Name[fa]=تصدیق SVN
Name[fi]=SVN-toimitus (Commit)
Name[fr]=Validation SVN
Name[ga]=SVN Cur i bhFeidhm
Name[gl]=Entrega SVN
Name[he]=שליחת שינויים של ה־SVN
Name[hu]=SVN eltárolás
Name[is]=Setja inn í SVN
Name[it]=Deposito SVN
Name[ja]=SVN コミット
Name[kk]=SVN тапсыру
Name[km]=SVN Commit
Name[ko]=SVN 커밋
Name[lt]=SVN išsiųsti
Name[lv]=Iesūtīt uz SVN
Name[nb]=SVN meld inn
Name[nds]=Na SVN-Archiv inspelen
Name[ne]=एसभीएन कमिट
Name[nl]=SVN vastleggen
Name[nn]=SVN meld inn
Name[pa]=SVN ਕਮਿਟ
Name[pl]=Wyślij
Name[pt]=Envio do SVN
Name[pt_BR]=Envio ao SVN
Name[ru]=Опубликовать
Name[sk]=SVN potvrdenie
Name[sl]=Udejanjanje SVN
Name[sr]=СВН предаја
Name[sr@ijekavian]=СВН предаја
Name[sr@ijekavianlatin]=SVN predaja
Name[sr@latin]=SVN predaja
Name[sv]=SVN-arkivera
Name[tr]=SVN Gönder
Name[ug]=SVN تاپشۇرۇش
Name[uk]=SVN-передавання
Name[x-test]=xxSVN Commitxx
Name[zh_CN]=SVN 提交
Name[zh_TW]=SVN 提交
Icon=edit-undo
Exec=kio_svn_helper -c %U

