[Misc]
Name=%{APPNAME} Serializer
Name[ast]=Serializador pa %{APPNAME}
Name[bs]=%{APPNAME} Serializer
Name[ca]=Serialitzador %{APPNAME}
Name[ca@valencia]=Serialitzador %{APPNAME}
Name[cs]=%{APPNAME} Serializer
Name[da]=%{APPNAME} serializer
Name[de]=%{APPNAME}-Serialisierer
Name[el]=Διαχειριστής %{APPNAME}
Name[en_GB]=%{APPNAME} Serialiser
Name[es]=Serializador para %{APPNAME}
Name[et]=%{APPNAME} jadasti
Name[fi]=%{APPNAME}-serialisoija
Name[fr]=Sérialiseur %{APPNAME}
Name[ga]=Srathóir %{APPNAME}
Name[gl]=Serializador %{APPNAME}
Name[hu]=%{APPNAME}-kezelő
Name[it]=Serializzatore di %{APPNAME}
Name[ja]=%{APPNAME} シリアライザ
Name[kk]=%{APPNAME} тізбектеуіші
Name[km]=%{APPNAME} Serializer
Name[ko]=%{APPNAME} 시리얼라이저
Name[lv]=%{APPNAME} serializētājs
Name[nb]=%{APPNAME}-serialisator
Name[nds]=%{APPNAME}-Reegmoduul
Name[nl]=%{APPNAME}-serialisator
Name[nn]=%{APPNAME}-serialisator
Name[pa]=%{APPNAME} ਸੀਰੀਅਲਾਈਜ਼ਰ
Name[pl]=Serializacja %{APPNAME}
Name[pt]=Serialização do %{APPNAME}
Name[pt_BR]=Serialização do %{APPNAME}
Name[ru]=Сериализатор %{APPNAME}
Name[sr]=%{APPNAME} серијализатор
Name[sr@ijekavian]=%{APPNAME} серијализатор
Name[sr@ijekavianlatin]=%{APPNAME} serijalizator
Name[sr@latin]=%{APPNAME} serijalizator
Name[sv]=Serialisering av %{APPNAME}
Name[tr]=%{APPNAME} Sıralandırıcı
Name[uk]=Перетворювач у послідовну форму %{APPNAME}
Name[x-test]=xx%{APPNAME} Serializerxx
Name[zh_CN]=%{APPNAME} 转换器
Name[zh_TW]=%{APPNAME} 序列器
Comment=An Akonadi serializer plugin for %{APPNAMELC}
Comment[ast]=Un complementu serializador d'Akonadi pa %{APPNAMELC}
Comment[bs]=Akonadi serijalizer dodatak za %{APPNAMELC}
Comment[ca]=Un connector de serialització de l'Akonadi per %{APPNAMELC}
Comment[ca@valencia]=Un connector de serialització de l'Akonadi per %{APPNAMELC}
Comment[da]=Et Akonadi serializer-plugin til %{APPNAMELC}
Comment[de]=Ein Akonadi-Serialisierer für %{APPNAMELC}
Comment[el]=Ένα πρόσθετο διαχειριστή του Akonadi για το %{APPNAMELC}
Comment[en_GB]=An Akonadi serialiser plugin for %{APPNAMELC}
Comment[es]=Un complemento serializador de Akonadi para %{APPNAMELC}
Comment[et]=Akonadi %{APPNAMELC} jadasti plugin
Comment[fi]=Akonadi-serialisoijaliitännäinen ohjelmalle %{APPNAMELC}
Comment[fr]=Un module externe de sérialisation Akonadi pour %{APPNAMELC}
Comment[ga]=Breiseán srathóra Akonadi le haghaidh %{APPNAMELC}
Comment[gl]=Unha extensión se serialización de Akonadi para %{APPNAMELC}
Comment[hu]=%{APPNAMELC} Akonadi-kezelő modul
Comment[it]=Un'estensione di serializzazione di Akonadi per %{APPNAMELC}
Comment[ja]=%{APPNAMELC} のための Akonadi シリアライザ・プラグイン
Comment[kk]=%{APPNAMELC} дегеннің Akonadi тізбектеуіш плагині 
Comment[km]=An Akonadi serializer កម្មវិធី​ជំនួយ​សម្រាប់​  %{APPNAMELC}
Comment[ko]=%{APPNAMELC}을(를) 위한 Akonadi 시리얼라이저 플러그인
Comment[lv]=Akonadi serializēšanas spraudnis %{APPNAMELC}
Comment[nb]=Et Akonadi-serialisatortillegg for %{APPNAMELC}
Comment[nds]=En Akonadi-Reegmodul för %{APPNAMELC}
Comment[nl]=Een Akonadi serialisatorplug-in voor %{APPNAMELC}
Comment[nn]=Eit Akonadi-serialisatortillegg for %{APPNAMELC}
Comment[pl]=Wtyczka serializacji Akonadi dla %{APPNAMELC}
Comment[pt]=Um 'plugin' de serialização do Akonadi para o %{APPNAMELC}
Comment[pt_BR]=Um plugin de serialização do Akonadi para o %{APPNAMELC}
Comment[ru]=Модуль сохранения записей %{APPNAMELC} для Akonadi
Comment[sr]=Прикључак Аконадијевог серијализатора за %{APPNAMELC}
Comment[sr@ijekavian]=Прикључак Аконадијевог серијализатора за %{APPNAMELC}
Comment[sr@ijekavianlatin]=Priključak Akonadijevog serijalizatora za %{APPNAMELC}
Comment[sr@latin]=Priključak Akonadijevog serijalizatora za %{APPNAMELC}
Comment[sv]=Ett Akonadi insticksprogram för serialisering av %{APPNAMELC}
Comment[tr]=%{APPNAMELC} için Akonadi sıralandırıcı eklentisi
Comment[uk]=Додаток перетворення у послідовну форму Akonadi для %{APPNAMELC}
Comment[x-test]=xxAn Akonadi serializer plugin for %{APPNAMELC}xx
Comment[zh_CN]=%{APPNAMELC} 的 Akonadi 转换器插件
Comment[zh_TW]=%{APPNAMELC} 的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-vnd.kde.%{APPNAMELC}
X-KDE-Library=akonadi_serializer_%{APPNAMELC}
