[Desktop Entry]
Name=%{APPNAME}
Name[ast]=%{APPNAME}
Name[bg]=%{APPNAME}
Name[bs]=%{APPNAME}
Name[ca]=%{APPNAME}
Name[ca@valencia]=%{APPNAME}
Name[cs]=%{APPNAME}
Name[da]=%{APPNAME}
Name[de]=%{APPNAME}
Name[el]=%{APPNAME}
Name[en_GB]=%{APPNAME}
Name[eo]=%{APPNAME}
Name[es]=%{APPNAME}
Name[et]=%{APPNAME}
Name[fi]=%{APPNAME}
Name[fr]=%{APPNAME}
Name[ga]=%{APPNAME}
Name[gl]=%{APPNAME}
Name[hu]=%{APPNAME}
Name[it]=%{APPNAME}
Name[ja]=%{APPNAME}
Name[kk]=%{APPNAME}
Name[km]=%{APPNAME}
Name[ko]=%{APPNAME}
Name[lv]=%{APPNAME}
Name[nb]=%{APPNAME}
Name[nds]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[nn]=%{APPNAME}
Name[pa]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[pt_BR]=%{APPNAME}
Name[ro]=%{APPNAME}
Name[ru]=%{APPNAME}
Name[sq]=%{APPNAME}
Name[sr]=%{APPNAME}
Name[sr@ijekavian]=%{APPNAME}
Name[sr@ijekavianlatin]=%{APPNAME}
Name[sr@latin]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[tr]=%{APPNAME}
Name[ug]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Name[zh_CN]=%{APPNAME}
Name[zh_TW]=%{APPNAME}
Exec=%{APPNAMELC} %i -caption "%c"
Icon=%{APPNAMELC}
Type=Application
X-DocPath=%{APPNAMELC}/index.html
GenericName=A KDE KPart Application
GenericName[ast]=Una aplicación KPart de KDE
GenericName[bs]=KDE KPart program
GenericName[ca]=Una aplicació KPart del KDE
GenericName[ca@valencia]=Una aplicació KPart del KDE
GenericName[cs]=Aplikace KDE KPart
GenericName[da]=Et KDE KPart-program
GenericName[de]=Eine KDE-KPart-Anwendung
GenericName[el]=Μια εφαρμογή KDE KPart
GenericName[en_GB]=A KDE KPart Application
GenericName[es]=Una aplicación KPart de KDE
GenericName[et]=KDE KPart rakendus
GenericName[fi]=KDE:n KPart-sovellus
GenericName[fr]=Une application KPart pour KDE
GenericName[ga]=Feidhmchlár KPart KDE
GenericName[gl]=Un programa KPart de KDE
GenericName[hu]=KDE KPart-alkalmazás
GenericName[it]=Un'applicazione KPart di KDE
GenericName[ja]=KDE KPart アプリケーション
GenericName[kk]=KDE KPart қолданбасы
GenericName[km]=កម្មវិធី KDE KPart
GenericName[ko]=KDE KPart 프로그램
GenericName[lv]=KDE KPart lietotne
GenericName[nb]=Et KDE KPart-program
GenericName[nds]=En KPart-Komponent för KDE
GenericName[nl]=Een KDE KPart-programma
GenericName[nn]=Eit KDE KPart-program
GenericName[pa]=KDE ਕੇ-ਪਾਰਟ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Moduł KDE KPart
GenericName[pt]=Uma Aplicação KPart do KDE
GenericName[pt_BR]=Um aplicativo KPart do KDE
GenericName[ro]=O aplicație KPart KDE
GenericName[ru]=Приложение KPart для KDE
GenericName[sq]=Një Program KDE KPart
GenericName[sr]=КДЕ К‑део
GenericName[sr@ijekavian]=КДЕ К‑дио
GenericName[sr@ijekavianlatin]=KDE K‑dio
GenericName[sr@latin]=KDE K‑deo
GenericName[sv]=Ett KDE KPart-program
GenericName[tr]=Bir KDE KPart Uygulaması
GenericName[ug]=ك د ئې(KDE) KPart پروگراممىسى
GenericName[uk]=Програма KPart для KDE
GenericName[x-test]=xxA KDE KPart Applicationxx
GenericName[zh_CN]=KDE KPart 应用程序
GenericName[zh_TW]=KDE KPart 應用程式
Terminal=false
