[Desktop Entry]
Name=%{APPNAME}Part
Name[ast]=%{APPNAME}Part
Name[bg]=%{APPNAME}Part
Name[bs]=%{APPNAME}Part
Name[ca]=%{APPNAME}Part
Name[ca@valencia]=%{APPNAME}Part
Name[cs]=%{APPNAME}Part
Name[da]=%{APPNAME}Part
Name[de]=%{APPNAME}-Teil
Name[el]=%{APPNAME}Part
Name[en_GB]=%{APPNAME}Part
Name[es]=%{APPNAME}Part
Name[et]=%{APPNAME}Part
Name[fi]=%{APPNAME}-osa
Name[fr]=%{APPNAME}Part
Name[ga]=%{APPNAME}Part
Name[gl]=%{APPNAME}Part
Name[hu]=%{APPNAME}Part
Name[it]=%{APPNAME}Part
Name[ja]=%{APPNAME}Part
Name[kk]=%{APPNAME}Part
Name[km]=%{APPNAME}Part
Name[ko]=%{APPNAME} 부분
Name[lv]=%{APPNAME}Part
Name[nb]=%{APPNAME}-del
Name[nds]=%{APPNAME}Komponent
Name[nl]=%{APPNAME}Part
Name[nn]=%{APPNAME}-del
Name[pa]=%{APPNAME}Part
Name[pl]=%{APPNAME}Part
Name[pt]=%{APPNAME}Part
Name[pt_BR]=%{APPNAME}Part
Name[ro]=%{APPNAME}Part
Name[ru]=Компонент %{APPNAME}
Name[sq]=%{APPNAME}Part
Name[sr]=%{APPNAME} део
Name[sr@ijekavian]=%{APPNAME} део
Name[sr@ijekavianlatin]=%{APPNAME} deo
Name[sr@latin]=%{APPNAME} deo
Name[sv]=%{APPNAME}-delprogram
Name[tr]=%{APPNAME}Part
Name[uk]=%{APPNAME}Part
Name[x-test]=xx%{APPNAME}Partxx
Name[zh_CN]=%{APPNAME}Part
Name[zh_TW]=%{APPNAME}Part
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=lib%{APPNAMELC}part
Type=Service
