[Desktop Entry]
Name=%{APPNAME}
Name[ast]=%{APPNAME}
Name[bg]=%{APPNAME}
Name[bs]=%{APPNAME}
Name[ca]=%{APPNAME}
Name[ca@valencia]=%{APPNAME}
Name[cs]=%{APPNAME}
Name[da]=%{APPNAME}
Name[de]=%{APPNAME}
Name[el]=%{APPNAME}
Name[en_GB]=%{APPNAME}
Name[eo]=%{APPNAME}
Name[es]=%{APPNAME}
Name[et]=%{APPNAME}
Name[fi]=%{APPNAME}
Name[fr]=%{APPNAME}
Name[ga]=%{APPNAME}
Name[gl]=%{APPNAME}
Name[hu]=%{APPNAME}
Name[it]=%{APPNAME}
Name[ja]=%{APPNAME}
Name[kk]=%{APPNAME}
Name[km]=%{APPNAME}
Name[ko]=%{APPNAME}
Name[lv]=%{APPNAME}
Name[nb]=%{APPNAME}
Name[nds]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[nn]=%{APPNAME}
Name[pa]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[pt_BR]=%{APPNAME}
Name[ro]=%{APPNAME}
Name[ru]=%{APPNAME}
Name[sq]=%{APPNAME}
Name[sr]=%{APPNAME}
Name[sr@ijekavian]=%{APPNAME}
Name[sr@ijekavianlatin]=%{APPNAME}
Name[sr@latin]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[tr]=%{APPNAME}
Name[ug]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Name[zh_CN]=%{APPNAME}
Name[zh_TW]=%{APPNAME}
Comment=Plasma %{APPNAME}
Comment[ast]=Plasma %{APPNAME}
Comment[bs]=Plazma %{APPNAME}
Comment[ca]=Plasma %{APPNAME}
Comment[ca@valencia]=Plasma %{APPNAME}
Comment[cs]=Plasma %{APPNAME}
Comment[da]=Plasma %{APPNAME}
Comment[de]=Plasma %{APPNAME}
Comment[el]=Plasma %{APPNAME}
Comment[en_GB]=Plasma %{APPNAME}
Comment[eo]=Plasma %{APPNAME}
Comment[es]=Plasma %{APPNAME}
Comment[et]=Plasma %{APPNAME}
Comment[fi]=Plasma %{APPNAME}
Comment[fr]=Plasma %{APPNAME}
Comment[ga]=Plasma %{APPNAME}
Comment[gl]=Plasma %{APPNAME}
Comment[hu]=Plasma %{APPNAME}
Comment[it]=Plasma %{APPNAME}
Comment[ja]=Plasma %{APPNAME}
Comment[kk]=Plasma %{APPNAME}
Comment[km]=ប្លាស្មា %{APPNAME}
Comment[ko]=Plasma %{APPNAME}
Comment[lv]=Plasma %{APPNAME}
Comment[nb]=Plasma %{APPNAME}
Comment[nds]=Plasma %{APPNAME}
Comment[nl]=Plasma %{APPNAME}
Comment[nn]=Plasma %{APPNAME}
Comment[pa]=ਪਲਾਜ਼ਮਾ %{APPNAME}
Comment[pl]=Plazma %{APPNAME}
Comment[pt]=Plasma %{APPNAME}
Comment[pt_BR]=Plasma %{APPNAME}
Comment[ro]=Plasma %{APPNAME}
Comment[ru]=Plasma %{APPNAME}
Comment[sq]=Plasma %{APPNAME}
Comment[sr]=Плазмин %{APPNAME}
Comment[sr@ijekavian]=Плазмин %{APPNAME}
Comment[sr@ijekavianlatin]=Plasmin %{APPNAME}
Comment[sr@latin]=Plasmin %{APPNAME}
Comment[sv]=Plasma %{APPNAME}
Comment[tr]=Plasma %{APPNAME}
Comment[uk]=Плазма %{APPNAME}
Comment[x-test]=xxPlasma %{APPNAME}xx
Comment[zh_CN]=Plasma %{APPNAME}
Comment[zh_TW]=Plasma %{APPNAME}
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_%{APPNAMELC}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

