[Desktop Entry]
Name=%{APPNAME} plugin
Name[bs]=%{APPNAME} dodatak
Name[ca]=Connector %{APPNAME}
Name[ca@valencia]=Connector %{APPNAME}
Name[cs]=%{APPNAME} modul
Name[da]=%{APPNAME} plugin
Name[de]=%{APPNAME}-Modul
Name[el]=%{APPNAME} πρόσθετο
Name[en_GB]=%{APPNAME} plugin
Name[es]=Complemento %{APPNAME}
Name[et]=%{APPNAME} plugin
Name[fi]=%{APPNAME}-liitännäinen
Name[fr]=Module externe %{APPNAME}
Name[ga]=Breiseán %{APPNAME}
Name[gl]=Extensión para %{APPNAME}
Name[hu]=%{APPNAME} bővítmény
Name[it]=Estensione di %{APPNAME}
Name[kk]=%{APPNAME} плагині
Name[km]=កម្មវិធី​ជំនួយ​ %{APPNAME} ​
Name[ko]=%{APPNAME} 플러그인
Name[lv]=%{APPNAME} spraudnis
Name[nb]=%{APPNAME}-programtillegg
Name[nds]=%{APPNAME}-Moduul
Name[nl]=%{APPNAME}-plug-in
Name[nn]=%{APPNAME}-tillegg
Name[pa]=%{APPNAME} ਪਲੱਗਇਨ
Name[pl]=Wtyczka %{APPNAME}
Name[pt]='Plugin' do %{APPNAME}
Name[pt_BR]=Plug-in do %{APPNAME}
Name[ru]=Расширение %{APPNAME}
Name[sr]=Прикључак за %{APPNAME}
Name[sr@ijekavian]=Прикључак за %{APPNAME}
Name[sr@ijekavianlatin]=Priključak za %{APPNAME}
Name[sr@latin]=Priključak za %{APPNAME}
Name[sv]=%{APPNAME}-insticksprogram
Name[tr]=%{APPNAME} eklentisi
Name[uk]=Додаток %{APPNAME}
Name[x-test]=xx%{APPNAME} pluginxx
Name[zh_CN]=%{APPNAME} 插件
Name[zh_TW]=%{APPNAME} 外掛程式
X-KDE-ServiceTypes=KOffice/Text-EditingPlugin
Type=Service
X-KDE-Library=kotext%{APPNAMELC}
X-KoText-MinVersion=0
X-Flake-PluginVersion=%{VERSION}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Website=http://koffice.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

