# KDE Config File
[Desktop Entry]
Type=Application
Exec=kapptemplate
Icon=kapptemplate
X-DocPath=kapptemplate/index.html
GenericName=KDE Template Generator
GenericName[ast]=Xenerador de plantíes pa KDE
GenericName[bs]=KDE generator predložaka
GenericName[ca]=Generador de plantilles del KDE
GenericName[ca@valencia]=Generador de plantilles del KDE
GenericName[cs]=Generátor šablon pro KDE
GenericName[da]=KDE skabelongenerator
GenericName[de]=KDE-Vorlagengenerator
GenericName[el]=Γεννήτρια προτύπων του KDE
GenericName[en_GB]=KDE Template Generator
GenericName[es]=Generador de plantillas para KDE
GenericName[et]=KDE malligeneraator
GenericName[fi]=KDE-mallinetuottaja
GenericName[fr]=Générateur de modèles pour KDE
GenericName[ga]=Gineadóir Teimpléad KDE
GenericName[gl]=Xerador de modelos de KDE
GenericName[hu]=KDE sablonkészítő
GenericName[it]=Generatore di modelli di KDE
GenericName[ja]=KDE テンプレートジェネレータ
GenericName[kk]=KDE үлгі генераторы
GenericName[km]=កម្មវិធី​បង្កើត​ពុម្ព KDE
GenericName[ko]=KDE 템플릿 생성기
GenericName[lt]=KDE šablonų generatorius
GenericName[lv]=KDE sagatavju ģenerators
GenericName[nb]=KDE mal-generator
GenericName[nds]=KDE-Vörlagenopsteller
GenericName[ne]=केडीई टेम्प्लेट सर्जक
GenericName[nl]=KDE Sjabloongeneratie
GenericName[nn]=KDE-malgenerator
GenericName[pa]=KDE ਟੈਂਪਲੇਟ ਜਰਨੇਟਰ
GenericName[pl]=Generator szablonów dla KDE
GenericName[pt]=Gerador de Modelos do KDE
GenericName[pt_BR]=Gerador de modelos do KDE
GenericName[ro]=Generator de șabloane KDE
GenericName[ru]=Генератор шаблонов KDE
GenericName[sq]=Gjenerues i Formave të Gatshme KDE
GenericName[sr]=Генератор КДЕ шаблона
GenericName[sr@ijekavian]=Генератор КДЕ шаблона
GenericName[sr@ijekavianlatin]=Generator KDE šablona
GenericName[sr@latin]=Generator KDE šablona
GenericName[sv]=KDE:s mallgenerering
GenericName[tr]=KDE Şablon Oluşturucu
GenericName[uk]=Створення шаблонів KDE
GenericName[x-test]=xxKDE Template Generatorxx
GenericName[zh_CN]=KDE 模板生成器
GenericName[zh_TW]=KDE 樣本產生器
Terminal=false
Name=KAppTemplate
Name[ast]=KAppTemplate
Name[bs]=KAppTemplate
Name[ca]=KAppTemplate
Name[ca@valencia]=KAppTemplate
Name[cs]=KAppTemplate
Name[da]=KAppTemplate
Name[de]=KAppTemplate
Name[el]=Πρότυπο KApp
Name[en_GB]=KAppTemplate
Name[es]=KAppTemplate
Name[et]=KAppTemplate
Name[fi]=KAppTemplate
Name[fr]=KAppTemplate
Name[ga]=KAppTemplate
Name[gl]=KAppTemplate
Name[hu]=KAppTemplate
Name[it]=KAppTemplate
Name[ja]=KAppTemplate
Name[kk]=KAppTemplate
Name[km]=KAppTemplate
Name[ko]=KAppTemplate
Name[lt]=KAppTemplate
Name[lv]=KAppTemplate
Name[nb]=KAppTemplate
Name[nds]=KAppTemplate
Name[ne]=केडीई अनुप्रयोग टेम्प्लेट
Name[nl]=KAppTemplate
Name[nn]=KAppTemplate
Name[pl]=Szablon programu
Name[pt]=KAppTemplate
Name[pt_BR]=KAppTemplate
Name[ro]=KAppTemplate
Name[ru]=KAppTemplate
Name[sq]=KAppTemplate
Name[sr]=К‑шаблон-програма
Name[sr@ijekavian]=К‑шаблон-програма
Name[sr@ijekavianlatin]=K‑šablon-programa
Name[sr@latin]=K‑šablon-programa
Name[sv]=Kapptemplate
Name[tr]=KAppTemplate
Name[ug]=KAppTemplate
Name[uk]=KAppTemplate
Name[x-test]=xxKAppTemplatexx
Name[zh_CN]=KAppTemplate
Name[zh_TW]=KAppTemplate
Categories=Qt;KDE;Development;
