[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Name=%{APPNAME} Shape
Name[bs]=%{APPNAME} oblik
Name[ca]=Forma %{APPNAME}
Name[ca@valencia]=Forma %{APPNAME}
Name[da]=%{APPNAME} Form
Name[de]=%{APPNAME}-Objekt
Name[el]=%{APPNAME} Σχήμα
Name[en_GB]=%{APPNAME} Shape
Name[es]=Forma %{APPNAME}
Name[et]=%{APPNAME} kujund
Name[fi]=%{APPNAME}-kuvio
Name[fr]=Forme %{APPNAME}
Name[ga]=Giuirléid %{APPNAME}
Name[gl]=Forma de %{APPNAME}
Name[hu]=%{APPNAME} alakzat
Name[it]=Forma %{APPNAME}
Name[kk]=%{APPNAME} формасы
Name[km]=រាង %{APPNAME} ​
Name[ko]=%{APPNAME} 모양
Name[lv]=%{APPNAME} figūra
Name[nb]=%{APPNAME}-form
Name[nds]=%{APPNAME}-Form
Name[nl]=%{APPNAME}-vorm
Name[nn]=%{APPNAME}-form
Name[pa]=%{APPNAME} ਸ਼ਕਲ
Name[pl]=Kształt %{APPNAME}
Name[pt]=Forma %{APPNAME}
Name[pt_BR]=Forma %{APPNAME}
Name[ru]=Объект %{APPNAME}
Name[sr]=Облик за %{APPNAME}
Name[sr@ijekavian]=Облик за %{APPNAME}
Name[sr@ijekavianlatin]=Oblik za %{APPNAME}
Name[sr@latin]=Oblik za %{APPNAME}
Name[sv]=%{APPNAME} form
Name[uk]=Форма %{APPNAME}
Name[x-test]=xx%{APPNAME} Shapexx
Name[zh_CN]=%{APPNAME} 形状
Name[zh_TW]=%{APPNAME} 元件
Comment=%{APPNAME} Flake Shape
Comment[bs]=%{APPNAME} pahuljasti oblik
Comment[ca]=Forma de Flake %{APPNAME}
Comment[ca@valencia]=Forma de Flake %{APPNAME}
Comment[da]=%{APPNAME} Flake-form
Comment[de]=%{APPNAME}-Flake-Objekt
Comment[el]=Διαχειριστής %{APPNAME} Σχήμα νιφάδας
Comment[en_GB]=%{APPNAME} Flake Shape
Comment[es]=Forma de Flake %{APPNAME}
Comment[et]=%{APPNAME} Flake'i kujund
Comment[fi]=%{APPNAME}-Flake-kuvio
Comment[fr]=Forme de Flake %{APPNAME}
Comment[gl]=Forma flake de %{APPNAME}
Comment[it]=Forma di Flake di %{APPNAME}
Comment[kk]=%{APPNAME} қабыршақ формасы
Comment[km]=រាង​តូច​ស្ដើង %{APPNAME} ​​
Comment[ko]=%{APPNAME} Flake 모양
Comment[lv]=%{APPNAME} Flake figūra
Comment[nb]=%{APPNAME}-flakform
Comment[nds]=%{APPNAME}-Flakeform
Comment[nl]=%{APPNAME}-vlokkenvorm
Comment[nn]=%{APPNAME}-Flake-form
Comment[pa]=%{APPNAME} ਫਲਕੀ ਸ਼ਕਲ
Comment[pl]=Kształt Flake %{APPNAME}
Comment[pt]=Forma do Flake %{APPNAME}
Comment[pt_BR]=Forma do Flake %{APPNAME}
Comment[sr]=Облик за %{APPNAME} (Флејк)
Comment[sr@ijekavian]=Облик за %{APPNAME} (Флејк)
Comment[sr@ijekavianlatin]=Oblik za %{APPNAME} (Flake)
Comment[sr@latin]=Oblik za %{APPNAME} (Flake)
Comment[sv]=%{APPNAME} flingform
Comment[uk]=Форма луски %{APPNAME}
Comment[x-test]=xx%{APPNAME} Flake Shapexx
Comment[zh_CN]=%{APPNAME} Flake 形状
Comment[zh_TW]=%{APPNAME} Flake 元件
ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=%{APPNAMELC}shape
X-Flake-Version=1
X-Flake-PluginVersion=%{VERSION}
X-Flake-MinVersion=0
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Website=http://koffice.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
