[Desktop Entry]
Type=Service
Comment=%{APPNAME}
Comment[ast]=%{APPNAME}
Comment[bg]=%{APPNAME}
Comment[bs]=%{APPNAME}
Comment[ca]=%{APPNAME}
Comment[ca@valencia]=%{APPNAME}
Comment[cs]=%{APPNAME}
Comment[da]=%{APPNAME}
Comment[de]=%{APPNAME}
Comment[en_GB]=%{APPNAME}
Comment[es]=%{APPNAME}
Comment[et]=%{APPNAME}
Comment[fi]=%{APPNAME}
Comment[fr]=%{APPNAME}
Comment[ga]=%{APPNAME}
Comment[gl]=%{APPNAME}
Comment[hu]=%{APPNAME}
Comment[it]=%{APPNAME}
Comment[kk]=%{APPNAME}
Comment[km]=%{APPNAME}
Comment[ko]=%{APPNAME}
Comment[lv]=%{APPNAME}
Comment[nb]=%{APPNAME}
Comment[nds]=%{APPNAME}
Comment[nl]=%{APPNAME}
Comment[nn]=%{APPNAME}
Comment[pa]=%{APPNAME}
Comment[pl]=%{APPNAME}
Comment[pt]=%{APPNAME}
Comment[pt_BR]=%{APPNAME}
Comment[ru]=%{APPNAME}
Comment[sr]=%{APPNAME}
Comment[sr@ijekavian]=%{APPNAME}
Comment[sr@ijekavianlatin]=%{APPNAME}
Comment[sr@latin]=%{APPNAME}
Comment[sv]=%{APPNAME}
Comment[tr]=%{APPNAME}
Comment[ug]=%{APPNAME}
Comment[uk]=%{APPNAME}
Comment[x-test]=xx%{APPNAME}xx
Comment[zh_CN]=%{APPNAME}
Comment[zh_TW]=%{APPNAME}
Name=%{APPNAME}
Name[ast]=%{APPNAME}
Name[bg]=%{APPNAME}
Name[bs]=%{APPNAME}
Name[ca]=%{APPNAME}
Name[ca@valencia]=%{APPNAME}
Name[cs]=%{APPNAME}
Name[da]=%{APPNAME}
Name[de]=%{APPNAME}
Name[el]=%{APPNAME}
Name[en_GB]=%{APPNAME}
Name[eo]=%{APPNAME}
Name[es]=%{APPNAME}
Name[et]=%{APPNAME}
Name[fi]=%{APPNAME}
Name[fr]=%{APPNAME}
Name[ga]=%{APPNAME}
Name[gl]=%{APPNAME}
Name[hu]=%{APPNAME}
Name[it]=%{APPNAME}
Name[ja]=%{APPNAME}
Name[kk]=%{APPNAME}
Name[km]=%{APPNAME}
Name[ko]=%{APPNAME}
Name[lv]=%{APPNAME}
Name[nb]=%{APPNAME}
Name[nds]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[nn]=%{APPNAME}
Name[pa]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[pt_BR]=%{APPNAME}
Name[ro]=%{APPNAME}
Name[ru]=%{APPNAME}
Name[sq]=%{APPNAME}
Name[sr]=%{APPNAME}
Name[sr@ijekavian]=%{APPNAME}
Name[sr@ijekavianlatin]=%{APPNAME}
Name[sr@latin]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[tr]=%{APPNAME}
Name[ug]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Name[zh_CN]=%{APPNAME}
Name[zh_TW]=%{APPNAME}
GenericName=%{APPNAME}
GenericName[ast]=%{APPNAME}
GenericName[bg]=%{APPNAME}
GenericName[bs]=%{APPNAME}
GenericName[ca]=%{APPNAME}
GenericName[ca@valencia]=%{APPNAME}
GenericName[cs]=%{APPNAME}
GenericName[da]=%{APPNAME}
GenericName[de]=%{APPNAME}
GenericName[el]=%{APPNAME}
GenericName[en_GB]=%{APPNAME}
GenericName[es]=%{APPNAME}
GenericName[et]=%{APPNAME}
GenericName[fi]=%{APPNAME}
GenericName[fr]=%{APPNAME}
GenericName[ga]=%{APPNAME}
GenericName[gl]=%{APPNAME}
GenericName[hu]=%{APPNAME}
GenericName[it]=%{APPNAME}
GenericName[kk]=%{APPNAME}
GenericName[km]=%{APPNAME}
GenericName[ko]=%{APPNAME}
GenericName[lv]=%{APPNAME}
GenericName[nb]=%{APPNAME}
GenericName[nds]=%{APPNAME}
GenericName[nl]=%{APPNAME}
GenericName[nn]=%{APPNAME}
GenericName[pa]=%{APPNAME}
GenericName[pl]=%{APPNAME}
GenericName[pt]=%{APPNAME}
GenericName[pt_BR]=%{APPNAME}
GenericName[ru]=%{APPNAME}
GenericName[sr]=%{APPNAME}
GenericName[sr@ijekavian]=%{APPNAME}
GenericName[sr@ijekavianlatin]=%{APPNAME}
GenericName[sr@latin]=%{APPNAME}
GenericName[sv]=%{APPNAME}
GenericName[tr]=%{APPNAME}
GenericName[ug]=%{APPNAME}
GenericName[uk]=%{APPNAME}
GenericName[x-test]=xx%{APPNAME}xx
GenericName[zh_CN]=%{APPNAME}
GenericName[zh_TW]=%{APPNAME}
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_%{APPNAMELC}
X-KDE-PluginKeyword=ktexteditor_%{APPNAMELC}
X-KDE-PluginInfo-Name=ktexteditor_%{APPNAMELC}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
