[Desktop Entry]
Type=Service
Name=KDED Subversion Module
Name[ast]=Módulu de Subversion de KDED
Name[bg]=Модул KDED Subversion
Name[br]=Mollad Subversion KDED
Name[bs]=KDED modul za subversion kontrolor verzija
Name[ca]=Mòdul KDED de Subversion
Name[ca@valencia]=Mòdul KDED de Subversion
Name[cs]=KDED Subversion modul
Name[da]=KDED Subversion modul
Name[de]=Subversion-Unterstützung
Name[el]=Άρθρωμα KDED Subversion
Name[en_GB]=KDED Subversion Module
Name[es]=Módulo de Subversion de KDED
Name[et]=KDED Subversioni moodul
Name[eu]=KDED Subversion modulua
Name[fa]=پیمانه زیرنسخه KDED
Name[fi]=KDED Subversion -moduuli
Name[fr]=Module KDED pour Subversion
Name[ga]=Modúl Subversion KDED
Name[gl]=Módulo KDED Subversion
Name[hu]=KDED Subversion modul
Name[is]=KDED Subversion eining
Name[it]=Modulo Subversion di KDED
Name[ja]=KDED Subversion モジュール
Name[kk]=KDED Subversion қызмет модулі
Name[km]=ម៉ូឌុល​កំណែ​រង​របស់​ KDED
Name[ko]=KDED 서브버전 모듈
Name[lt]=KDED Subversion modulis
Name[lv]=KDE Subversion modulis
Name[nb]=KDED Subversion-modul
Name[nds]=KDED Subversion-Moduul
Name[ne]=केडीईडी उप संस्करण मोड्युल
Name[nl]=KDED Subversion-module
Name[nn]=KDED Subversion-modul
Name[pa]=KDED ਸਬ-ਵਰਜਨ ਮੋਡੀਊਲ
Name[pl]=Moduł Subversion dla KDED
Name[pt]=Módulo do KDED para o Subversion
Name[pt_BR]=Módulo do KDED para o Subversion
Name[ro]=Modul Subversion KDE
Name[ru]=Служба Subversion
Name[sk]=KDED Subversion modul
Name[sl]=Modul Subversion za KDED
Name[sr]=КДЕД модул за Субверзију
Name[sr@ijekavian]=КДЕД модул за Субверзију
Name[sr@ijekavianlatin]=KDED modul za Subversion
Name[sr@latin]=KDED modul za Subversion
Name[sv]=KDED Subversion-modul
Name[tr]=KDED Alt Versiyon Modülü
Name[uk]=Модуль KDED Subversion
Name[x-test]=xxKDED Subversion Modulexx
Name[zh_CN]=KDED Subversion 模块
Name[zh_TW]=KDED Subversion 模組
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=ksvnd
X-KDE-DBus-ModuleName=ksvnd
X-KDE-Library=ksvnd
X-KDE-Kded-load-on-demand=true
