[Desktop Entry]
Encoding=UTF-8
Icon=internet-web-browser
Type=Service
X-KDE-Library=krubypluginfactory
X-KDE-PluginKeyword=%{APPNAME}/%{APPNAME}.rb
X-KDE-PluginInfo-Name=%{APPNAME}
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Website=
X-DocPath=%{APPNAMELC}/index.html
Comment=%{APPNAME} - You can write Konqueror-Plugins in Ruby
Comment[bs]=%{APPNAME} - Možete pisati glavne dodatke u ruby-u
Comment[ca]=%{APPNAME} - Podeu escriure connectors del Konqueror en Ruby
Comment[ca@valencia]=%{APPNAME} - Podeu escriure connectors del Konqueror en Ruby
Comment[da]=%{APPNAME} - Du kan skrive Konqueror-plugins i Ruby
Comment[de]=%{APPNAME} – Sie können Konqueror-Module in Ruby schreiben
Comment[el]=%{APPNAME} - Μπορείτε να γράψετε πρόσθετα του Konqueror σε Ruby
Comment[en_GB]=%{APPNAME} - You can write Konqueror-Plugins in Ruby
Comment[es]=%{APPNAME} - Puede escribir complementos para Konqueror en Ruby
Comment[et]=%{APPNAME} - võimalus kirjutada Konquerori pluginaid Ruby abil
Comment[fi]=%{APPNAME} - Voit kirjoittaa Konqueror-liitännäisiä Ruby-kielellä
Comment[fr]=%{APPNAME} - Vous pouvez écrire des modules externes Konqueror en Ruby
Comment[ga]=%{APPNAME} - Is féidir leatsa Breiseáin Konqueror a scríobh i Ruby
Comment[it]=%{APPNAME} - Puoi scrivere estensioni per Konqueror in Ruby
Comment[kk]=%{APPNAME} - Ruby-де Konqueror-плагинің жаза аласыз
Comment[km]=%{APPNAME} - អ្នក​អាច​សរសេរ​កម្មវិធី​ជំនួយ​ Konqueror ក្នុង​​ Ruby
Comment[ko]=%{APPNAME} - Konqueror 플러그인을 루비로 작성할 수 있습니다
Comment[nb]=%{APPNAME} – Du kan skrive Konqueror-programtillegg i Ruby
Comment[nds]=%{APPNAME} - Du kannst Modulen för Konqueror in Ruby schrieven
Comment[nl]=%{APPNAME} - U kunt Konqueror-plug-ins schrijven in Ruby
Comment[pl]=%{APPNAME} - Możesz napisać wtyczki do Konquerora w Ruby
Comment[pt]=%{APPNAME} - Poderá criar 'plugins' do Konqueror em Ruby
Comment[pt_BR]=%{APPNAME} - Você pode criar plug-ins do Konqueror em Ruby
Comment[sr]=%{APPNAME} — напишите прикључак за К‑освајач на рубију
Comment[sr@ijekavian]=%{APPNAME} — напишите прикључак за К‑освајач на рубију
Comment[sr@ijekavianlatin]=%{APPNAME} — napišite priključak za K‑osvajač na Rubyju
Comment[sr@latin]=%{APPNAME} — napišite priključak za K‑osvajač na Rubyju
Comment[sv]=%{APPNAME} - Du kan skriva insticksprogram för Konqueror i Ruby
Comment[uk]=%{APPNAME} — ви можете писати додатки до Konqueror мовою Ruby
Comment[x-test]=xx%{APPNAME} - You can write Konqueror-Plugins in Rubyxx
Comment[zh_CN]=%{APPNAME} - 您可以用 Ruby 语言编写 Konqueror 插件
Comment[zh_TW]=%{APPNAME} - 您可以用 Ruby 撰寫 Konqueror 外掛程式
Name=%{APPNAME}
Name[ast]=%{APPNAME}
Name[bg]=%{APPNAME}
Name[bs]=%{APPNAME}
Name[ca]=%{APPNAME}
Name[ca@valencia]=%{APPNAME}
Name[cs]=%{APPNAME}
Name[da]=%{APPNAME}
Name[de]=%{APPNAME}
Name[el]=%{APPNAME}
Name[en_GB]=%{APPNAME}
Name[eo]=%{APPNAME}
Name[es]=%{APPNAME}
Name[et]=%{APPNAME}
Name[fi]=%{APPNAME}
Name[fr]=%{APPNAME}
Name[ga]=%{APPNAME}
Name[gl]=%{APPNAME}
Name[hu]=%{APPNAME}
Name[it]=%{APPNAME}
Name[ja]=%{APPNAME}
Name[kk]=%{APPNAME}
Name[km]=%{APPNAME}
Name[ko]=%{APPNAME}
Name[lv]=%{APPNAME}
Name[nb]=%{APPNAME}
Name[nds]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[nn]=%{APPNAME}
Name[pa]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[pt_BR]=%{APPNAME}
Name[ro]=%{APPNAME}
Name[ru]=%{APPNAME}
Name[sq]=%{APPNAME}
Name[sr]=%{APPNAME}
Name[sr@ijekavian]=%{APPNAME}
Name[sr@ijekavianlatin]=%{APPNAME}
Name[sr@latin]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[tr]=%{APPNAME}
Name[ug]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Name[zh_CN]=%{APPNAME}
Name[zh_TW]=%{APPNAME}
GenericName=%{APPNAME}
GenericName[ast]=%{APPNAME}
GenericName[bg]=%{APPNAME}
GenericName[bs]=%{APPNAME}
GenericName[ca]=%{APPNAME}
GenericName[ca@valencia]=%{APPNAME}
GenericName[cs]=%{APPNAME}
GenericName[da]=%{APPNAME}
GenericName[de]=%{APPNAME}
GenericName[el]=%{APPNAME}
GenericName[en_GB]=%{APPNAME}
GenericName[es]=%{APPNAME}
GenericName[et]=%{APPNAME}
GenericName[fi]=%{APPNAME}
GenericName[fr]=%{APPNAME}
GenericName[ga]=%{APPNAME}
GenericName[gl]=%{APPNAME}
GenericName[hu]=%{APPNAME}
GenericName[it]=%{APPNAME}
GenericName[kk]=%{APPNAME}
GenericName[km]=%{APPNAME}
GenericName[ko]=%{APPNAME}
GenericName[lv]=%{APPNAME}
GenericName[nb]=%{APPNAME}
GenericName[nds]=%{APPNAME}
GenericName[nl]=%{APPNAME}
GenericName[nn]=%{APPNAME}
GenericName[pa]=%{APPNAME}
GenericName[pl]=%{APPNAME}
GenericName[pt]=%{APPNAME}
GenericName[pt_BR]=%{APPNAME}
GenericName[ru]=%{APPNAME}
GenericName[sr]=%{APPNAME}
GenericName[sr@ijekavian]=%{APPNAME}
GenericName[sr@ijekavianlatin]=%{APPNAME}
GenericName[sr@latin]=%{APPNAME}
GenericName[sv]=%{APPNAME}
GenericName[tr]=%{APPNAME}
GenericName[ug]=%{APPNAME}
GenericName[uk]=%{APPNAME}
GenericName[x-test]=xx%{APPNAME}xx
GenericName[zh_CN]=%{APPNAME}
GenericName[zh_TW]=%{APPNAME}
