[Desktop Entry]
Icon=%{APPNAMELC}
X-KDE-Library=%{APPNAMELC}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
X-DocPath=%{APPNAMELC}/index.html
Encoding=UTF-8
Comment=Extended UrlBar Options
Comment[bs]=Proširi UrlBar opcije
Comment[ca]=Opcions ampliades de l'UrlBar
Comment[ca@valencia]=Opcions ampliades de l'UrlBar
Comment[da]=Udvidede UrlBar-muligheder
Comment[de]=Erweiterte Addressleisteneinstellungen
Comment[en_GB]=Extended UrlBar Options
Comment[es]=Opciones de barra de Url extendida
Comment[et]=Laiendatud URL-riba valikud
Comment[fi]=Laajennetut UrlBar-valitsimet
Comment[fr]=Options de barre d'URL étendue
Comment[ga]=Roghanna Breisithe UrlBar
Comment[it]=Opzioni estese della barra degli URL
Comment[kk]=Адрестік панелінің кеңейтілген параметрлері
Comment[km]=ជម្រើស​ ​UrlBar ​បន្ថែម​
Comment[ko]=확장된 URL 표시줄 옵션
Comment[nb]=Utvidete valg for UrlBar
Comment[nds]=Verwiedert Adressbalken-Optschonen
Comment[nl]=Uitgebreide UrlBar-opties
Comment[pl]=Rozszerzone opcje UrlBar
Comment[pt]=Opções Extendidas da Barra de URL's
Comment[pt_BR]=Opções estendidas da barra de URLs
Comment[sr]=Опције проширене траке УРЛ‑ова
Comment[sr@ijekavian]=Опције проширене траке УРЛ‑ова
Comment[sr@ijekavianlatin]=Opcije proširene trake URL‑ova
Comment[sr@latin]=Opcije proširene trake URL‑ova
Comment[sv]=Alternativ för utökad webbadressrad
Comment[uk]=Додаткові параметри панелі адреси
Comment[x-test]=xxExtended UrlBar Optionsxx
Comment[zh_CN]=扩展地址栏选项
Comment[zh_TW]=延伸的網址列選項
Name=%{APPNAME}
Name[ast]=%{APPNAME}
Name[bg]=%{APPNAME}
Name[bs]=%{APPNAME}
Name[ca]=%{APPNAME}
Name[ca@valencia]=%{APPNAME}
Name[cs]=%{APPNAME}
Name[da]=%{APPNAME}
Name[de]=%{APPNAME}
Name[el]=%{APPNAME}
Name[en_GB]=%{APPNAME}
Name[eo]=%{APPNAME}
Name[es]=%{APPNAME}
Name[et]=%{APPNAME}
Name[fi]=%{APPNAME}
Name[fr]=%{APPNAME}
Name[ga]=%{APPNAME}
Name[gl]=%{APPNAME}
Name[hu]=%{APPNAME}
Name[it]=%{APPNAME}
Name[ja]=%{APPNAME}
Name[kk]=%{APPNAME}
Name[km]=%{APPNAME}
Name[ko]=%{APPNAME}
Name[lv]=%{APPNAME}
Name[nb]=%{APPNAME}
Name[nds]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[nn]=%{APPNAME}
Name[pa]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[pt_BR]=%{APPNAME}
Name[ro]=%{APPNAME}
Name[ru]=%{APPNAME}
Name[sq]=%{APPNAME}
Name[sr]=%{APPNAME}
Name[sr@ijekavian]=%{APPNAME}
Name[sr@ijekavianlatin]=%{APPNAME}
Name[sr@latin]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[tr]=%{APPNAME}
Name[ug]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Name[zh_CN]=%{APPNAME}
Name[zh_TW]=%{APPNAME}
GenericName=%{APPNAME}
GenericName[ast]=%{APPNAME}
GenericName[bg]=%{APPNAME}
GenericName[bs]=%{APPNAME}
GenericName[ca]=%{APPNAME}
GenericName[ca@valencia]=%{APPNAME}
GenericName[cs]=%{APPNAME}
GenericName[da]=%{APPNAME}
GenericName[de]=%{APPNAME}
GenericName[el]=%{APPNAME}
GenericName[en_GB]=%{APPNAME}
GenericName[es]=%{APPNAME}
GenericName[et]=%{APPNAME}
GenericName[fi]=%{APPNAME}
GenericName[fr]=%{APPNAME}
GenericName[ga]=%{APPNAME}
GenericName[gl]=%{APPNAME}
GenericName[hu]=%{APPNAME}
GenericName[it]=%{APPNAME}
GenericName[kk]=%{APPNAME}
GenericName[km]=%{APPNAME}
GenericName[ko]=%{APPNAME}
GenericName[lv]=%{APPNAME}
GenericName[nb]=%{APPNAME}
GenericName[nds]=%{APPNAME}
GenericName[nl]=%{APPNAME}
GenericName[nn]=%{APPNAME}
GenericName[pa]=%{APPNAME}
GenericName[pl]=%{APPNAME}
GenericName[pt]=%{APPNAME}
GenericName[pt_BR]=%{APPNAME}
GenericName[ru]=%{APPNAME}
GenericName[sr]=%{APPNAME}
GenericName[sr@ijekavian]=%{APPNAME}
GenericName[sr@ijekavianlatin]=%{APPNAME}
GenericName[sr@latin]=%{APPNAME}
GenericName[sv]=%{APPNAME}
GenericName[tr]=%{APPNAME}
GenericName[ug]=%{APPNAME}
GenericName[uk]=%{APPNAME}
GenericName[x-test]=xx%{APPNAME}xx
GenericName[zh_CN]=%{APPNAME}
GenericName[zh_TW]=%{APPNAME}
