[Misc]
Name=KDE Repository Accounts
Name[ast]=Cuentes del repositoriu de KDE
Name[bg]=Сметки в хранилището на KDE
Name[bs]=KDE spremište korisničkih računa
Name[ca]=Comptes del repositori de KDE
Name[ca@valencia]=Comptes del repositori de KDE
Name[cs]=Účty z KDE repository
Name[da]=KDE lager-konti
Name[de]=KDE-Repositorium-Zugänge
Name[el]=Λογαριασμοί χώρου αποθήκευσης του KDE
Name[en_GB]=KDE Repository Accounts
Name[es]=Cuentas del repositorio de KDE
Name[et]=KDE hoidla kontod
Name[eu]=KDE-ren biltegiaren kontuak
Name[fa]=حسابهای مخزن KDE
Name[fi]=KDE:n versionhallinnan käyttäjätunnukset
Name[fr]=Comptes du référentiel de KDE
Name[ga]=Cuntais Stór KDE
Name[gl]=Contas no repositorio de KDE
Name[hu]=KDE SVN-azonosítók
Name[is]=KDE geymslu aðgangur
Name[it]=Account del deposito di KDE
Name[ja]=KDE リポジトリアカウント
Name[kk]=KDE қоймасының тіркелгілері
Name[km]=គណនី​ឃ្លាំងរបស់​ KDE
Name[ko]=KDE 저장소 계정
Name[lt]=KDE saugyklos paskyros
Name[lv]=KDE repozitoriju konti
Name[nb]=KDE-lagerkontoer
Name[nds]=KDE-Archivkontos
Name[ne]=केडीई भण्डार खाता
Name[nl]=KDE Repository gebruikersnamen
Name[nn]=KDE-lagerkontoar
Name[pa]=KDE ਰਿਪੋਜ਼ਟਰੀ ਅਕਾਊਂਟ
Name[pl]=Konta w repozytorium KDE
Name[pt]=Contas do Repositório do KDE
Name[pt_BR]=Contas do repositório do KDE
Name[ro]=Conturi de depozit KDE
Name[ru]=Учётные записи репозитория KDE
Name[sk]=Účty KDE archívu
Name[sl]=Računi za skladišče KDE
Name[sr]=Налози ризнице КДЕ‑а
Name[sr@ijekavian]=Налози ризнице КДЕ‑а
Name[sr@ijekavianlatin]=Nalozi riznice KDE‑a
Name[sr@latin]=Nalozi riznice KDE‑a
Name[sv]=KDE-arkivkonton
Name[tr]=KDE Deposu Hesapları
Name[uk]=Рахунки сховища KDE
Name[x-test]=xxKDE Repository Accountsxx
Name[zh_CN]=KDE 仓库账号
Name[zh_TW]=KDE 主目錄帳號

[Plugin]
Type=text
X-KDE-Library=kabcformat_kdeaccounts
