[Desktop Entry]
Type=Service
Name=Qt Designer Files
Name[ast]=Ficheros de Qt Designer
Name[bg]=Файлове на Qt Designer
Name[br]=Restroù Ergrafer Qt
Name[bs]=Qt dizajnerske datoteke
Name[ca]=Fitxers de Qt Designer
Name[ca@valencia]=Fitxers de Qt Designer
Name[cs]=Soubory Qt designeru
Name[cy]=Ffeiliau Qt Designer
Name[da]=Qt Designer-filer
Name[de]=Qt-Designer-Dateien
Name[el]=Αρχεία Qt Designer
Name[en_GB]=Qt Designer Files
Name[es]=Archivos de Qt Designer
Name[et]=Qt Designeri failid
Name[eu]=Qt Designer fitxategiak
Name[fa]=پرونده‌های طراح Qt
Name[fi]=Qt Designer -tiedostot
Name[fr]=Fichiers Qt Designer
Name[ga]=Comhaid Qt Designer
Name[gl]=Ficheiros de Qt Designer
Name[hu]=Qt Designer-fájlok
Name[is]=Qt Designer skrár
Name[it]=File di Qt Designer
Name[ja]=Qt デザイナーファイル
Name[kk]=Qt Designer файлы
Name[km]=ឯកសារ​កម្មវិធី​រចនា​របស់​ Qt
Name[ko]=Qt 디자이너 파일
Name[lt]=Qt Designer failai
Name[lv]=Qt dizainera faili
Name[nb]=Qt Designer-filer
Name[nds]=Qt-Designer-Dateien
Name[ne]=Qt डिजाइनर फाइल
Name[nl]=Qt Designer-bestanden
Name[nn]=Qt Designer-filer
Name[pa]=Qt Designer ਫਾਇਲ
Name[pl]=Pliki Qt Designer
Name[pt]=Ficheiros do Qt Designer
Name[pt_BR]=Arquivos do Qt Designer
Name[ro]=Fișiere Qt Designer
Name[ru]=Файлы Qt Designer
Name[sk]=Súbory Qt Designer
Name[sl]=Datoteke za Qt Designer
Name[sr]=Фајлови КуТ‑дизајнера
Name[sr@ijekavian]=Фајлови КуТ‑дизајнера
Name[sr@ijekavianlatin]=Fajlovi QtDesignera
Name[sr@latin]=Fajlovi QtDesignera
Name[sv]=Qt-designer-filer
Name[ta]=Qt வடிவமை கோப்புகள்
Name[tg]=Файлҳои Qt Designer
Name[tr]=Qt Tasarımcı Dosyaları
Name[uk]=Файли Qt Designer
Name[x-test]=xxQt Designer Filesxx
Name[zh_CN]=Qt 设计师文件
Name[zh_TW]=Qt Designer 檔案
ServiceTypes=ThumbCreator
MimeType=application/x-designer;
X-KDE-Library=quithumbnail
CacheThumbnail=true
