[Desktop Entry]
Name=KUIViewer
Name[ast]=KUIViewer
Name[bg]=KUIViewer
Name[br]=KUIViewer
Name[bs]=KUIViewer
Name[ca]=KUIViewer
Name[ca@valencia]=KUIViewer
Name[cs]=KUIViewer
Name[cy]=KUIGwelydd
Name[da]=KUIViewer
Name[de]=KUIViewer
Name[el]=KUIViewer
Name[en_GB]=KUIViewer
Name[es]=KUIViewer
Name[et]=KUIViewer
Name[eu]=KUIViewer
Name[fi]=KUIViewer
Name[fr]=KUIViewer
Name[ga]=KUIViewer
Name[gl]=KUIViewer
Name[he]=KUIViewer
Name[hu]=KUIViewer
Name[is]=KUIViewer
Name[it]=KUIViewer
Name[ja]=KUI ビューア
Name[kk]=KUIViewer
Name[km]=KUIViewer
Name[ko]=KUIViewer
Name[lt]=KUIViewer
Name[lv]=KUIViewer
Name[nb]=KUIViewer
Name[nds]=KUIViewer
Name[ne]=KUIViewer
Name[nl]=KUIViewer
Name[nn]=KUIViewer
Name[pa]=KUIViewer
Name[pl]=KUIViewer
Name[pt]=KUIViewer
Name[pt_BR]=KUIViewer
Name[ro]=KUIViewer
Name[ru]=KUIViewer
Name[sk]=KUIViewer
Name[sl]=KUIViewer
Name[sr]=К‑УИ‑приказивач
Name[sr@ijekavian]=К‑УИ‑приказивач
Name[sr@ijekavianlatin]=K‑UI‑prikazivač
Name[sr@latin]=K‑UI‑prikazivač
Name[sv]=KUIviewer
Name[ta]=KUIவியூவர்
Name[tg]=KUIViewer
Name[tr]=KUIViewer
Name[ug]=KUIViewer
Name[uk]=KUIViewer
Name[x-test]=xxKUIViewerxx
Name[zh_CN]=KUIViewer
Name[zh_TW]=KUIViewer
Exec=kuiviewer -caption "%c"
Icon=kuiviewer
Type=Application
GenericName=Qt Designer UI File Viewer
GenericName[ast]=Visor de ficheros UI de Qt Designer
GenericName[bg]=Преглед на файлове на Qt Designer
GenericName[br]=Ur gweler restr UI Ergrafer Qt
GenericName[bs]=Preglednik datoteka Qt dizajnera
GenericName[ca]=Visor de fitxer UI de Qt Designer
GenericName[ca@valencia]=Visor de fitxer UI de Qt Designer
GenericName[cs]=Prohlížeč UI souborů z Qt Designeru
GenericName[cy]=Gwelydd Ffeiliau UI Qt Designer
GenericName[da]=Qt Designer UI filviser
GenericName[de]=Betrachter für UI-Dateien des Qt Designer
GenericName[el]=Προβολέας αρχείων Qt Designer UI
GenericName[en_GB]=Qt Designer UI File Viewer
GenericName[es]=Visor de archivos UI de Qt Designer
GenericName[et]=Qt Designeri UI-failide näitaja
GenericName[eu]=Qt Designer UI fitxartegi ikusgailua
GenericName[fa]=مشاهده‌گر پرونده واسط نگاره‌ای طراح Qt
GenericName[fi]=Qt Designerin UI-tiedostojen katselin
GenericName[fr]=Afficheur de fichiers d'interface graphique de Qt Designer
GenericName[ga]=Amharcán Comhad Qt Designer
GenericName[gl]=Visor de ficheiros de Qt Designer
GenericName[hu]=Qt Designer UI-fájlnézegető
GenericName[is]=Qt Designer UI skráaskoðari
GenericName[it]=Visualizzatore per file UI di Qt Designer
GenericName[ja]=Qt デザイナー UI ファイルビューア
GenericName[kk]=Qt Designer UI файлын қарау құралы
GenericName[km]=កម្មវិធី​មើល​​ឯកសារ​របស់​ UI ​កម្មវិធី​រចនា​របស់​ Qt
GenericName[ko]=Qt 디자이너 UI 파일 뷰어
GenericName[lt]=Qt Designer naudotojo sąsajos failų žiūryklė
GenericName[lv]=Qt dizainera UI failu skatītājs
GenericName[nb]=Qt Designer UI-filviser
GenericName[nds]=Kieker för Qt-Designer sien UI-Dateien
GenericName[ne]=Qt डिजाइनर यूआई फाइल दर्शक
GenericName[nl]=Weergave van QT Designer UI-bestanden
GenericName[nn]=Qt Designer UI-filvisar
GenericName[pl]=Przeglądarka plików interfejsu użytkownika Qt Designera
GenericName[pt]=Visualizador de Ficheiros UI do Qt Designer
GenericName[pt_BR]=Visualizador de arquivos UI do Qt Designer
GenericName[ro]=Vizualizator de fișiere Qt Designer UI
GenericName[ru]=Просмотрщик UI-файлов Qt Designer
GenericName[sk]=Prehliadač súborov UI pre Qt Designer
GenericName[sl]=Pregledovalnik datotek UI za Qt Designer
GenericName[sr]=Приказивач УИ фајлова КуТ‑дизајнера
GenericName[sr@ijekavian]=Приказивач УИ фајлова КуТ‑дизајнера
GenericName[sr@ijekavianlatin]=Prikazivač UI fajlova QtDesignera
GenericName[sr@latin]=Prikazivač UI fajlova QtDesignera
GenericName[sv]=Qt-designer UI-filvisning
GenericName[ta]=Qt  வடிவமைப்பவர் UI கோப்புகள் காட்சியகம்
GenericName[tg]=Намоишгари UI-файлҳо Qt Designer
GenericName[tr]=Qt Tasarımcı UI Dosya Göstericisi
GenericName[uk]=Переглядач UI-файлів Qt Designer
GenericName[x-test]=xxQt Designer UI File Viewerxx
GenericName[zh_CN]=Qt 设计师 UI 文件查看器
GenericName[zh_TW]=Qt Designer UI 檔案檢視器
MimeType=application/x-designer;
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Development;
InitialPreference=10
