[Desktop Entry]
Name=KUIViewerPart
Name[ast]=KUIViewerPart
Name[bg]=KUIViewerPart
Name[br]=KUIViewerPart
Name[bs]=KUIViewerPart
Name[ca]=KUIViewerPart
Name[ca@valencia]=KUIViewerPart
Name[cs]=KUIViewerPart
Name[cy]=KUIViewerPart
Name[da]=KUIViewerPart
Name[de]=KUIViewerPart
Name[el]=KUIViewerPart
Name[en_GB]=KUIViewerPart
Name[es]=KUIViewerPart
Name[et]=KUIViewerPart
Name[eu]=KUIViewerPart
Name[fi]=KUIViewerPart
Name[fr]=KUIViewerPart
Name[ga]=KUIViewerPart
Name[gl]=KUIViewerPart
Name[hu]=KUIViewerPart
Name[is]=KUIViewerPart
Name[it]=KUIViewerPart
Name[ja]=KUIViewerPart
Name[kk]=KUIViewerPart
Name[km]=KUIViewerPart
Name[ko]=KUIViewerPart
Name[lt]=KUIViewerPart
Name[lv]=KUIViewerPart
Name[nb]=KUIViewerPart
Name[nds]=KUIViewerPart
Name[ne]=KUIViewerPart
Name[nl]=KUIViewerPart
Name[nn]=KUIViewerPart
Name[pa]=KUIViewerPart
Name[pl]=KUIViewerPart
Name[pt]=KUIViewerPart
Name[pt_BR]=KUIViewerPart
Name[ro]=KUIViewerPart
Name[ru]=KUIViewerPart
Name[sk]=KUIViewerPart
Name[sl]=KUIViewerPart
Name[sr]=К‑УИ‑приказивач део
Name[sr@ijekavian]=К‑УИ‑приказивач део
Name[sr@ijekavianlatin]=K‑UI‑prikazivač deo
Name[sr@latin]=K‑UI‑prikazivač deo
Name[sv]=KUIviewer-del
Name[ta]=KUIவியூவர் உறுப்பு
Name[tg]=KUIViewerPart
Name[tr]=KUIViewerPart
Name[ug]=KUIViewerPart
Name[uk]=KUIViewerPart
Name[x-test]=xxKUIViewerPartxx
Name[zh_CN]=KUIViewerPart
Name[zh_TW]=KUIViewerPart
MimeType=application/x-designer;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=kuiviewerpart
Type=Service
