[Desktop Entry]
Name=%{APPNAME}
Name[ast]=%{APPNAME}
Name[bg]=%{APPNAME}
Name[bs]=%{APPNAME}
Name[ca]=%{APPNAME}
Name[ca@valencia]=%{APPNAME}
Name[cs]=%{APPNAME}
Name[da]=%{APPNAME}
Name[de]=%{APPNAME}
Name[el]=%{APPNAME}
Name[en_GB]=%{APPNAME}
Name[eo]=%{APPNAME}
Name[es]=%{APPNAME}
Name[et]=%{APPNAME}
Name[fi]=%{APPNAME}
Name[fr]=%{APPNAME}
Name[ga]=%{APPNAME}
Name[gl]=%{APPNAME}
Name[hu]=%{APPNAME}
Name[it]=%{APPNAME}
Name[ja]=%{APPNAME}
Name[kk]=%{APPNAME}
Name[km]=%{APPNAME}
Name[ko]=%{APPNAME}
Name[lv]=%{APPNAME}
Name[nb]=%{APPNAME}
Name[nds]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[nn]=%{APPNAME}
Name[pa]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[pt_BR]=%{APPNAME}
Name[ro]=%{APPNAME}
Name[ru]=%{APPNAME}
Name[sq]=%{APPNAME}
Name[sr]=%{APPNAME}
Name[sr@ijekavian]=%{APPNAME}
Name[sr@ijekavianlatin]=%{APPNAME}
Name[sr@latin]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[tr]=%{APPNAME}
Name[ug]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Name[zh_CN]=%{APPNAME}
Name[zh_TW]=%{APPNAME}
Comment=%{APPNAME} runner
Comment[ast]=Llanzador pa %{APPNAME}
Comment[bs]=%{APPNAME} izvršilac
Comment[ca]=Llançador de %{APPNAME}
Comment[ca@valencia]=Llançador de %{APPNAME}
Comment[cs]=%{APPNAME} runner
Comment[da]=%{APPNAME}-runner
Comment[el]=εκτελεστής %{APPNAME}
Comment[en_GB]=%{APPNAME} runner
Comment[es]=Lanzador para %{APPNAME}
Comment[et]=%{APPNAME} käivitaja
Comment[fi]=%{APPNAME}-suoritusohjelma
Comment[fr]=Lanceur %{APPNAME}
Comment[ga]=Feidhmitheoir %{APPNAME}
Comment[gl]=Executor %{APPNAME}
Comment[hu]=%{APPNAME}-futtató
Comment[it]=Esecutore di %{APPNAME}
Comment[ja]=%{APPNAME} runner
Comment[kk]=%{APPNAME} жеккіші
Comment[km]=កម្មវិធី​រត់ %{APPNAME}​
Comment[ko]=%{APPNAME} 실행기
Comment[lv]=%{APPNAME} darbinātājs
Comment[nb]=%{APPNAME}-kjører
Comment[nds]=%{APPNAME}-Dreger
Comment[nl]=%{APPNAME}-starter
Comment[nn]=%{APPNAME}-køyrar
Comment[pa]=%{APPNAME} ਰਨਰ
Comment[pl]=Uruchamianie %{APPNAME}
Comment[pt]=Execução do %{APPNAME}
Comment[pt_BR]=Execução do %{APPNAME}
Comment[ro]=Lansator %{APPNAME}
Comment[ru]=Способ запуска %{APPNAME}
Comment[sq]=%{APPNAME} runner
Comment[sr]=%{APPNAME} извођач
Comment[sr@ijekavian]=%{APPNAME} извођач
Comment[sr@ijekavianlatin]=%{APPNAME} izvođač
Comment[sr@latin]=%{APPNAME} izvođač
Comment[sv]=Körning av %{APPNAME}
Comment[tr]=%{APPNAME} çalıştırıcı
Comment[uk]=Засіб запуску %{APPNAME}
Comment[x-test]=xx%{APPNAME} runnerxx
Comment[zh_CN]=%{APPNAME} 启动器
Comment[zh_TW]=%{APPNAME} 執行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_%{APPNAMELC}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
